<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS and Separate Popper and Bootstrap JS CDN -->
    <!--      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">-->
    <!--      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>-->
    <!--      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>-->
    <!-- Using local one-->
    <link rel="stylesheet" href="./bootstrap_5.0/css/bootstrap.min.css" th:href="@{./bootstrap_5.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="./bootstrap_5.0/scss/_bootswatch.scss" th:href="@{./bootstrap_5.0/scss/_bootswatch.scss}"/>
    <link rel="stylesheet" href="./bootstrap_5.0/scss/_variables.scss" th:href="@{/bootstrap_5.0/scss/_variables.scss}" />
    <link rel="stylesheet" href="./bootstrap_5.0/scss/bootstrap.css" th:href="@{/bootstrap_5.0/scss/bootstrap.css}"/>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" th:href="@{https://code.jquery.com/jquery-3.1.0.min.js}"></script>
    <script src="./bootstrap_5.0/js/bootstrap.min.js" th:href="@{./bootstrap_5.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="./style.css" th:href="@{./style.css}"/>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Palico Inventory</title>
</head>
<body>
<!--including header-->
<div th:replace="header :: header"></div>
<br/><br/>
<div class="container-fluid">
    <div class="row align-items-center">
        <h1 class="text-center">Jingapoo Inventory</h1>
    </div>
    <br/>
    <div class="row align-items-center">
        <a th:href="@{new}" class="text-center btn btn-outline-light" style="width:10%;margin-left:auto;margin-right:auto;">Create a new Weapon</a>
    </div>
    <br/><br/>
    <table class="table table-hover text-center" style="width:70%; border:1px solid cyan;margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th scope="col" style="color:cyan">Equipment ID</th>
                <th scope="col" style="color:cyan">Name of Weapon</th>
                <th scope="col" style="color:cyan">Rarity</th>
                <th scope="col" style="color:cyan">Attack Type</th>
                <th scope="col" style="color:cyan">Element Damage</th>
                <th scope="col" style="color:cyan">Crafting Material</th>
                <th scope="col" style="color:cyan">Price</th>
                <th scope="col" style="color:cyan">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-dark" th:each="weapons : ${listWeapons}">
                <td style="color:yellow" th:text="${weapons.id}">Equipment ID</td>
                <td style="color:yellow" th:text="${weapons.name}">Name of Weapon</td>
                <td style="color:yellow" th:text="${weapons.rarity}">Rarity</td>
                <td style="color:yellow" th:text="${weapons.attackType}">Attack Type</td>
                <td style="color:yellow" th:text="${weapons.elementDamage}">Element Damage</td>
                <td style="color:yellow" th:text="${weapons.craftingMaterial}">Crafting Material</td>
                <td style="color:yellow" th:text="${weapons.price}">Price</td>
                <td>
                    <a th:href="@{'/edit/' + ${weapons.id}}" class="btn btn-outline-light">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${weapons.id}}" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        </tbody>
    </table>
</div>

</body>
</html>